---
import { Icon } from 'astro-icon/components';
import Logo from '~/components/Logo.astro';
import { SITE } from 'astrowind:config';
import { getHomePermalink } from '~/utils/permalinks';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  about: string;
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { socialLinks = [], secondaryLinks = [], links = [], footNote = '', theme = 'light' } = Astro.props;
---

<footer class:list={[{ dark: theme === 'dark' }, 'relative border-t border-gray-200 dark:border-slate-800 not-prose']}>
  <div class="z-[-2] bg-primary dark:bg-dark absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="relative max-w-6xl mx-auto mt-12 px-8 sm:px-6 dark:text-slate-300">
    <div class="grid grid-cols-12 gap-4 gap-y-16 sm:gap-8 py-8 md:py-12">
      <div class="flex flex-col col-span-6 md:col-span-6 lg:col-span-3 max-h-32 md:max-h-min">
        <a class="flex flex-center justify-start font-bold text-xl sm:pr-6" href={getHomePermalink()}>
          <Logo id="footerlogo" variant="whiteVertical" class="hidden dark:block h-24 md:h-48"/>
          <Logo id="footerlogo" variant="plain" class="block dark:hidden self-start w-auto max-h-32 max-w-32 md:max-h-min md:max-w-56"/>
        </a>
        
      </div>
      <div class="col-span-6 md:col-span-6 lg:col-span-3 pt-8">
        <div class="dark:text-gray-300 font-semibold text-4xl mb-8 min-h-16">Om Ung i världen</div>
        <p class="text-gray-800">{Astro.props.about}</p>
      </div>
      {
        links.map(({ title, links }) => (
          <div class="z-0 col-span-6 md:col-span-6 lg:col-span-3 relative p-8 px-2 md:px-6 rounded-lg shadow-tertiary-200 shadow-md">
            <div class="dark:text-gray-300 font-semibold text-3xl md:text-4xl mb-8 min-h-16">{title}</div>
            
            {links && Array.isArray(links) && links.length > 0 && (
              <ul class="flex flex-col">
                {links.map(({ text, href, ariaLabel }) => (
                  <li class="mb-4">
                    {href ? (
                      <a
                      class="text-gray-800 hover:text-black underline hover:underline dark:text-gray-400 transition duration-150 ease-in-out"
                      href={href}
                      aria-label={ariaLabel}
                      >
                        <Fragment set:html={text} />
                      </a>
                    ) : (
                      <p
                      class="text-gray-800"
                      aria-label={ariaLabel}
                      >
                        <Fragment set:html={text} />
                      </p>
                    )}
                  </li>
                ))}
                {title == 'Kontakt' && (
                  <>
                  {
                    socialLinks?.length ? (
                      <ul class="flex flex-row justify-start ml-[-0.75rem] mt-6">
                        {socialLinks.map(({ ariaLabel, href, text, icon }) => (
                          <li>
                            <a
                              class="p-1.5 rounded-full transition-colors transition-[50ms] hover:bg-tertiary text-gray-900 hover:text-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 text-sm inline-flex items-center"
                              aria-label={ariaLabel}
                              href={href}
                            >
                              {icon && <Icon name={icon} class="w-12 h-12" />}
                              <Fragment set:html={text} />
                            </a>
                          </li>
                        ))}
                      </ul>
                    ) : (
                      ''
                    )
                  }
                  </>
                )}
              </ul>
            )}
          <div id="cards-bg" class="z-[-1] shadow-xl bg-gray-100 opacity-60 rounded-lg absolute inset-0 pointer-events-none" aria-hidden="true"></div>
          </div>
        ))
      }
    <div class="col-span-4 md:col-span-4 lg:col-span-6">
      
      <div class="text-sm text-muted flex gap-1">
        {
          secondaryLinks.map(({ text, href }, index) => (
            <>
              {index !== 0 ? ' · ' : ''}
              <a
                class="text-muted hover:text-gray-700 dark:text-gray-400 hover:underline transition duration-150 ease-in-out"
                href={href}
                set:html={text}
              />
            </>
          ))
        }
      </div>
    </div>
  </div>
    <div class="md:flex md:items-center md:justify-between py-6 md:py-8">
      

      <div class="text-sm mr-4 dark:text-muted">
        <Fragment set:html={footNote} />
      </div>
    </div>
  </div>
</footer>
