---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Waves from '~/components/common/Waves.astro';

const metadata = {
  title: 'Bli medlem',
};

const { frontmatter } = Astro.props;
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <Hero2
    tagline={frontmatter.tagline}
    title={frontmatter.title}
    subtitle={frontmatter.subtitle}
    image={{ src: frontmatter.heroImage.src, alt: frontmatter.heroImage.alt }}
    bg="bg-primary"
  >
  </Hero2>

  <Waves bottom bg="" color="fill-page" />

  <ContactUs
    name="Bli medlem"
    id="bli-medlem"
    title={frontmatter.formTitle}
    subtitle={frontmatter.formSubtitle}
    disclaimer={{ label: frontmatter.checkBoxText, gdpr: true }}
    submitMessage={frontmatter.submitText}
    button={frontmatter.buttonText}
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Namn',
      },
      {
        type: 'email',
        name: 'email',
        label: 'E-postadress',
      },
      {
        type: 'tel',
        name: 'phone',
        label: 'Telefonnummer',
      },
      {
        type: 'date',
        name: 'birthdate',
        label: 'Födelsedatum (Endast personer upp till 29 år kan anmäla sig)',
      },
      {
        type: 'label',
        name: '',
        label: 'Välj engagemang',
      },
      {
        type: 'checkbox',
        name: 'Medlem',
        label: 'Medlem',
        description: 'Som medlem får du regelbundna uppdateringar om föreningen och pågående projekt. Om du vill bli ideellt engagerad hos oss skriv det i "övrigt" rutan. Berätta gärna lite om dig själv och din tidigare erfarenhet med utvecklingsfrågor!',
      },
      
      // Checkbox inputs for "Vem är du?"
      {
        type: 'label',
        name: '',
        label: 'Vem är du? Välj det som stämmer bäst in på dig.',
      },
      {
        type: 'checkbox',
        name: 'student',
        label: 'Student',
      },
      {
        type: 'checkbox',
        name: 'forskare',
        label: 'Forskare',
      },
      {
        type: 'checkbox',
        name: 'journalist',
        label: 'Journalist',
      },
      {
        type: 'checkbox',
        name: 'politiker',
        label: 'Politiker',
      },
      {
        type: 'checkbox',
        name: 'civilsamhället',
        label: 'Arbetar med globala frågor - Civilsamhället',
      },
      {
        type: 'checkbox',
        name: 'myndighet',
        label: 'Arbetar med globala frågor - Myndighet',
      },
      {
        type: 'checkbox',
        name: 'foretag',
        label: 'Arbetar med globala frågor - Företag',
      },
      {
        type: 'checkbox',
        name: 'mellanstatlig',
        label: 'Arbetar med globala frågor - Mellanstatlig org.',
      },
      {
        type: 'checkbox',
        name: 'yrkesverksam',
        label: 'Yrkesverksam, inte inom globala frågor',
      },
      {
        type: 'checkbox',
        name: 'pensionar_aktiv',
        label: 'Pensionär, aktiv inom globala frågor',
      },
      {
        type: 'checkbox',
        name: 'pensionar_inaktiv',
        label: 'Pensionär, inte aktiv inom globala frågor',
      },
      {
        type: 'text',
        name: 'other',
        label: 'Övrigt: ',
        placeholder: '',
      },
    ]}
  />

  <div id="gdpr-policy" class="hidden">
    <div
      class="pt-10 mb-16 mx-auto px-6 sm:px-6 max-w-3xl prose prose-md lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8 prose-headings:scroll-mt-[80px] prose-li:my-0"
    >
      <slot />
    </div>
  </div>

</Layout>


<style>
  .clickable {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }

  .message-bubble {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 300px;
    border-radius: 5px;
  }

  .message-bubble p {
    margin: 10px 0;
  }

  .message-bubble .close-btn {
    display: block;
    text-align: right;
    margin-top: -10px;
    margin-right: -10px;
  }

  .message-bubble .close-btn button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const link = document.getElementById('integritetspolicy-link');
    const bubble = document.getElementById('message-bubble');
    const closeButton = document.getElementById('close-bubble');

    link.addEventListener('click', (event) => {
      event.stopPropagation();
      bubble.style.display = 'block';
    });

    document.addEventListener('click', (event) => {
      if (!bubble.contains(event.target) && event.target !== link) {
        bubble.style.display = 'none';
      }
    });

    closeButton.addEventListener('click', () => {
      bubble.style.display = 'none';
    });
  });
</script>

<div id="message-bubble" class="message-bubble">
  <div class="close-btn">
    <button id="close-bubble">&times;</button>
  </div>
  <strong>Integritetspolicy</strong>
  <p><strong>Vilka uppgifter vi samlar in:</strong> Vi samlar in personuppgifter som namn, e-postadress och telefonnummer när du registrerar dig på vår hemsida.</p>
  <p><strong>Hur vi använder dina uppgifter:</strong> Vi använder dina uppgifter för att hantera din registrering och för att kommunicera med dig om våra senaste event och projekt.</p>
  <p><strong>Hur vi skyddar dina uppgifter:</strong> Vi vidtar lämpliga säkerhetsåtgärder för att skydda dina personuppgifter mot obehörig åtkomst, ändring, avslöjande eller förstörelse.</p>
  <p><strong>Dina rättigheter:</strong> Du har rätt att begära tillgång till, rättelse av eller radering av dina personuppgifter. Kontakta oss om du har några frågor eller önskar utöva dina rättigheter.</p>
</div>