---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import FeaturesLinks from '~/components/widgets/FeaturesLinks.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';

const metadata = {
  title: 'Kontakt',
};

const {
  frontmatter
} = Astro.props;
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText 
    title={frontmatter.title}
    tagline={frontmatter.tagline}
    subtitle={frontmatter.subtitle}
  />

  <ContactUs
    name="contact"
    id="form"
    tagline={frontmatter.messageBoxTagline}
    title={frontmatter.messageBoxTitle}
    subtitle={frontmatter.messageBoxSubtitle}
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Namn',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Ditt meddelande',
    }}
    button="Skicka"
    description="Vi svarar ofta inom 24 timmar"
    submitMessage="Tack för ditt meddelande! Vi svarar så snart som möjligt."
  />

  
<Features3
id="individual"
title={frontmatter.individualTitle}
subtitle={frontmatter.individualSubtitle}
columns={4}
defaultIcon="tabler:mail"
items={frontmatter.individualContacts}
classes={{'container':"border-primary border-t-2 border-b-2 border-dotted"}}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-primary opacity-0 dark:opacity-30 dark:bg-quaternary dark:NOTbg-transparent"></div>
    </Fragment>
</Features3>
  <!-- Features2 Widget ************** -->

<FeaturesLinks
  id="socials"
  title="Sociala kanaler"
  subtitle="Våra olika kanaler i sociala medier och kontaktuppgifter"
  columns={3}
  items={[
    {
      title: 'Instagram',
      description:
        'Länk till vår insta här',
      icon: 'tabler:brand-instagram',
      href: "https://instagram.com",    
    },
    {
      title: 'LinkedIn',
      description:
        'Länk till vår linkedin här',
      icon: 'tabler:brand-linkedin',
      href: "https://linkedin.com",
    },
    {
      title: 'Mail',
      description: `Vi går alltid att nå på mail på ungivarlden.org@gmail.com`,
      icon: 'tabler:mail',
      href: 'mailto:ungivarlden.org@gmail.com',
    },
    /*{
      title: 'Blog',
      description:
        'With attention to typography, these templates empower effective content presentation for writers at any stage, ensuring visually engaging and user-friendly blogs.',
      icon: 'tabler:article',
    },*/
  ]}
/>

</Layout>
