---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Hero from '~/components/widgets/Hero2.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import Waves from '~/components/common/Waves.astro';
import Section from '~/components/ui/section.astro';

import { getPermalink, getBlogPermalink, getAsset } from '../utils/permalinks';

const metadata = {
  title: 'Om oss',
};

const {
  frontmatter
} = Astro.props;

const titleColors = [
  'text-blue-500',
  'text-blue-800',
  'text-purple-500',
  'text-teal-500',
  'text-orange-500',
];

const sections = frontmatter.values.map((value, index) => ({
  id: value.id,
  href: '#'+value.id,
  title: value.title,
  content: value.description,
  image: { src: value.image.src, alt: value.image.alt },
  reverse: index % 2 !== 0,
  titleColor: titleColors[index % titleColors.length], // Apply color cyclically
}));

---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* 
    
  -->
  <Hero
    tagline={frontmatter.tagline}
    title={frontmatter.title}
    subtitle={frontmatter.subtitle}
    image={frontmatter.heroImage}
    bg="bg-tertiary"
  >
  </Hero>

  <Waves bottom bg="" color="fill-page"/>
  <Waves bottom bg="" color="fill-secondary opacity-40"/>

  <div class="relative">
    <div class="z-[-1] absolute inset-0 bg-secondary opacity-40 pointer-events-none" />

    {frontmatter.sections.map((title, text, index) => (
      <Section
        key={index}
        id={title}
        title={title}
        content={text}
        reverse={index % 2}
        titleColor=""
      />
    ))}
  </div>

  <!--div 
    class="mt-[-1px] pt-10 mb-16 mx-auto px-6 sm:px-6 max-w-3xl prose prose-md lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8 prose-headings:scroll-mt-[80px] prose-li:my-0"
  >  
    <slot />
  </div-->

  <Waves bottom bg="opacity-40" variant='quaternary' color="fill-secondary"></Waves>

  <CallToAction
    title={frontmatter.contactTitle}
    subtitle={frontmatter.contactSubtitle}
    actions={[
      {
        variant: 'primary',
        text: 'Kontakt',
        href: getPermalink('/kontakt'),
        icon: 'tabler:bubble',
      }
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-gradient-to-b from-secondary to-page opacity-40 dark:opacity-30 dark:bg-quaternary dark:NOTbg-transparent"></div>
    </Fragment>
  </CallToAction>

  <!-- Steps2 Widget ****************** -->

  <!--Steps2
    id="values"
    title="Våra värderingar"
    isReversed={false}
    subtitle="Maecenas eu tellus eget est scelerisque lacinia et a diam. Aliquam velit lorem, vehicula id fermentum et, rhoncus et purus. Nulla facilisi. Vestibulum malesuada lacus."
    items={[
      {
        title: 'Värdering 1',
        description:
          'Donec id nibh neque. Quisque et fermentum tortor. Fusce vitae dolor a mauris dignissim commodo. Ut eleifend luctus condimentum.',
      },
      {
        title: 'Värdering 2',
        description:
          'Phasellus laoreet fermentum venenatis. Vivamus dapibus pulvinar arcu eget mattis. Fusce eget mauris leo.',
      },
      {
        title: 'Värdering 3',
        description:
          'Vestibulum imperdiet libero et lectus molestie, et maximus augue porta. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
      },
    ]}
  /-->

</Layout>
