---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Hero from '~/components/widgets/Hero2.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import Waves from '~/components/common/Waves.astro';
import HeroText from '~/components/widgets/HeroText.astro'; 
import Content from '~/components/widgets/Content.astro';
import Section from '~/components/ui/section.astro';
import Image from '~/components/common/Image.astro';

import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Verksamhet',
};

const {
  frontmatter
} = Astro.props;

const titleColors = [
  'text-blue-500',
  'text-blue-800',
  'text-purple-500',
  'text-teal-500',
  'text-orange-500',
];

const sections = frontmatter.values.map((value, index) => ({
  id: value.id,
  href: '#'+value.id,
  title: value.title,
  content: value.description,
  image: { src: value.image.src, alt: value.image.alt },
  reverse: index % 2 !== 0,
  titleColor: titleColors[index % titleColors.length], // Apply color cyclically
}));

---

<Layout metadata={metadata}>

  <!-- Hero Widget ******************* -->

  <Hero
    tagline={frontmatter.tagline}
    title={frontmatter.title}
    subtitle={frontmatter.subtitle}
    bg="bg-tertiary"
    image={{ src: frontmatter.heroImage.src, alt: frontmatter.heroImage.alt}}
  >
  </Hero>

  <Waves bottom bg="" color="fill-page"/>
  <Waves bottom bg="" color="fill-primary opacity-40 "/>

 <!-- Features2 Component with Clickable Images 
  items={frontmatter.values.map((value, index) => ({
    ...value,
    image: (
      <a href={`#${sections[index].id}`} key={`link-${index}`}>
        <img src={value.icon.src} alt={value.icon.alt} class="w-12 h-12 cursor-pointer" />
      </a>
    ),
  }))} 
 -->
  <Features2
    id="values"
    tagline={frontmatter.valuesTagline}
    columns={5}
    title={frontmatter.valuesTitle}
    subtitle={frontmatter.valuesSubtitle}
    items={frontmatter.values}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-primary opacity-40 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Waves bottom bg="bg-primary opacity-40 scale-x-[101%]" color="fill-secondary" />

  <!-- Sections *********************** -->
  <!--div class="relative py-12 px-6 md:px-12">
    <div class="z-[-1] absolute inset-0 bg-secondary opacity-40 pointer-events-none" />
    
    <div class="flex justify-center space-x-4 py-8">
      {sections.map((section, index) => (
        <a href={`#${section.id}`} key={`link-${index}`} class="focus:outline-none focus:ring-2 focus:ring-blue-500 rounded-full">
          <Image 
            {...section.image} 
            class="w-12 h-12 cursor-pointer transition-transform hover:scale-110" 
          />
        </a>
      ))}
    </div>
  </div-->

  <!-- Section Components -->
  <div class="relative">
    <div class="absolute inset-0 bg-secondary opacity-40 pointer-events-none" />
  {sections.map((section, index) => (
    <Section
      key={index}
      id={section.id}
      title={section.title}
      content={section.content}
      image={section.image}
      reverse={section.reverse}
      titleColor={section.titleColor}
    />
  ))}
  </div>

  <Waves top bg="opacity-40" variant='quaternary' color="fill-secondary"></Waves>

  <!-- fritext -->
  <!--div 
    class="mt-[-1px] pt-10 mb-16 mx-auto px-6 sm:px-6 max-w-3xl prose prose-md lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg prose-headings:scroll-mt-[80px] prose-li:my-0"
  >
    <slot />
  </div-->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Bli medlem',
        href: getPermalink('/engagera-dig#bli-medlem'),
      },
    ]}
    title="Engagera dig!"
    subtitle="Har du läst så här långt och står också bakom värdegrunden? Engagera dig i Ung i världen idag!"
  />
</Layout>
